<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mrhjs.ocha">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="OCha"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity android:name=".Main" />

        <receiver android:name=".Alarm_Receiver" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <activity android:name=".Menu" />
        <activity android:name=".Alarm" />
        <activity android:name=".Find_password" />
        <activity android:name=".Preference">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".Ootd"
            android:label="@string/title_activity_ootd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Chatbot" />
        <activity android:name=".Webview"></activity>
    </application>

</manifest>